head
  link(rel='stylesheet' href=prefix+'/public/site.css')
  link(rel='stylesheet' href=prefix+'/public/bulma/css/bulma.css')
  script(src=prefix+'/public/font-render.js')

body
  section.section
    .container
      .level
        div
          .menu-label scale
          button.button(onclick="render(1)") 1
          button.button(onclick="render(2)") 2
        p
          i click icon to copy to clipboard

    - var i = 0;
    .container
      while i<font.chars.length
        span.is-inline-block(title=font.chars[i].encoding)
          canvas.thing(data-character=font.chars[i])
        - i++
